<a href="https://colab.research.google.com/github/NishmithaJR/Principles-of-Data-Science/blob/main/Using_Iris_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

To read and write Iris dataset

In [ ]:
iris=pd.read_csv("/content/drive/MyDrive/Principles of Data Science/iris.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

To display Iris dataset

In [ ]:
iris.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.054000      3.758667     1.198667     NaN
std         0.828066     0.433594      1.764420     0.763161     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

To display no.of rows and columns

In [ ]:
iris.shape

(150, 5)

To display no.of rows

In [ ]:
iris.shape[0]

150

To display no.of columns

In [ ]:
iris.shape[1]

5

Compute the average petal

In [ ]:
avg=iris['petal_length'].mean()
print("average petal length=",avg)

average petal length= 3.758666666666666

Compute the average of all numeric columns

In [ ]:
print("avg of petal length=",iris['petal_length'].mean())
print("avg of petal width=",iris['petal_width'].mean())
print("avg of petal length=",iris['sepal_length'].mean())
print("avg of petal width=",iris['sepal_length'].mean())

avg of petal length= 3.758666666666666
avg of petal width= 1.1986666666666668
avg of petal length= 5.843333333333334
avg of petal width= 5.843333333333334

Extract the petal length

In [ ]:
iris.iloc[5]

sepal_length       5.4
sepal_width        3.9
petal_length       1.7
petal_width        0.4
species         setosa
Name: 5, dtype: object

Extract the petal lenght 0f those rows whose petal length is 15% longer than the average petal length

In [ ]:
print(iris['petal_length']>50%(avg))

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: petal_length, Length: 150, dtype: bool

Compute the standard deviation of all columns for each iris speies

In [ ]:
print("std deviation of petal length=",iris['petal_length'].std())
print("std deviation of petal length=",iris['petal_width'].std())
print("std deviation of petal length=",iris['sepal_length'].std())
print("std deviation of petal length=",iris['sepal_width'].std())

std deviation of petal length= 1.7644204199522626
std deviation of petal length= 0.7631607417008411
std deviation of petal length= 0.828066127977863
std deviation of petal length= 0.4335943113621737